    {% load staticfiles %}
    <html>
        <head>
            <title>CVPy</title>
            <script src="http://upcdn.b0.upaiyun.com/libs/jquery/jquery-2.0.2.min.js"></script>
            <link rel="stylesheet" href="{% static 'Semantic-UI-CSS/semantic.min.css' %}">
            <script src="{% static 'Semantic-UI-CSS/semantic.min.js' %}"></script>
            <link rel="stylesheet" href="{% static 'css/blog.css' %}">
            <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
        </head>
        
        <body>  
            <div class="ui inverted segment">
                <div class="ui inverted secondary menu">
            <!--    
                    <div class="page-header">
                        {% if user.is_authenticated %}               
                        {% endif %}                          
                    </div>
            -->     
            <!--
                    <div class="logo">
                        <a href="/">
                            <img class="ui logo" src="{% static 'images/cvpy-green-logo.png' %}">
                        </a>
                    </div>  
            -->        
                    <div class="name-label">
                        <a href="/" class="ui label" style="margin-left:80px;">
                            <h1>冰不语</h1> 
                        </a>
                    </div>
                    
                    <div class="menu" style="margin-left:60px;">
                        <a class="active item" href="/">
                            <h4>首页</h4>
                        </a>                       
  
                        <a class="item" style="margin-left:60px;">
                            <h4>关于我</h4>
                        </a> 
                                              
                        {% if user.is_authenticated %}                                         
                            <a class="item" style="margin-left:60px;">
                                <h4>Messages</h4>
                            </a>
                        {% endif %}                         

                        <a class="item" style="margin-right:0px;">
                            <div class="ui action input">
                                <input type="text" placeholder="Search...">
                                <div class="ui teal button">Search</div>
                            </div>
                        </a>
                    </div>  
                </div>
            </div>           
            

            {% block content %}
            {% endblock %}                                

            
          
            

        </body>
    </html>